$color_fondo_poke: #fff;
$color-letra: black;
$fondo-pantalla: url('../../../resources/wallpaperbetter\(2\).jpg');
$espacios: 10px;
body{
    background-color: aquamarine;
    background-image: $fondo-pantalla;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
h1{
    text-align: center;
}
.input{
    text-align: center;
    margin: $espacios*4;
}

#result{
    width: 400px;;
    text-align: center;
    border: 4px solid black;
    border-radius: 10px;
    margin: auto;
    //margin: $espacios*15;
    background-color: #fff;
    font-size: $espacios*3;
    .imagen{
        width: $espacios*20;
    }    
}